@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import "tailwindcss";

/* Hide scrollbars globally */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Neon theme root variables */
:root {
  --bg-main: #0a192f;
  --bg-card: #17263a;
  --neon: #64ffda;
  --text: aquamarine;
}

/* Apply global background */
body {
  font-family: "Kode Mono", monospace;
  background-color: var(--bg-main);
  color: var(--text);
  overflow: hidden;
}

.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  /* adjust to 400–700 as needed */
  font-style: normal;
}

.kode-mono-bold {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}